body {
    font-family: 'Noto Sans', sans-serif;
    background-color: black;
    
}

#main-game {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
}

button {
    margin-top: 25px;
    margin-bottom: 25px;
}

#container {
    margin: 0 auto;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(var(--columns-row), 1fr);
    grid-template-rows: repeat(var(--columns-row), 1fr);
    width: 500px;
    height: 500px;
}

.box {
    padding: 1px;
    background-color: #EFEFEF;
    width: 25px;
    height: 25px;
}